ion-col div {
  font-size: 13px;
  text-align: center;
}

ion-content {
  --ion-background-color: rgb(240, 240, 240);
}

.rowForHabit {
  background-color: white;
  border-color: rgb(240, 240, 240);
  border-style: solid;
  border-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
}

ion-row {
  padding: 7px 10px;
}

ion-col ion-icon {
  display: block;
  margin: 0 auto;
  //align-content: center;
}

